<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Resume
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
        link(href='../css/bootstrap.css', type='text/css', rel='stylesheet', media='all')
        script(src='bower_components/lightgallery/dist/js/lightgallery.min.js')

        link(type='text/css', rel='stylesheet', href='bower_components/lightgallery/dist/css/lightGallery.css')

        link(rel="stylesheet", href="../bower_components/animate.css/animate.min.css")
        link(rel='stylesheet', href='../css/font-awesome.min.css')
        link(rel='stylesheet', href='../css/material-design-iconic-font.min.css')
        link(href='https://fonts.googleapis.com/css?family=Raleway:300,400,500', rel='stylesheet')
        link(rel="stylesheet", href="../css/style.css")
        script(src='bower_components/jquery/dist/jquery.min.js')
        script(src='../bower_components/wow/dist/wow.min.js')
        script(defer='', src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
        script(src='../js/script.js')
        script.
            $.stellar();
        link(rel='stylesheet', href='../css/stylesheet.css')
        script(src='../bower_components/lightgallery/dist/js/lightgallery.min.js')
        script(src='../js/jquery-3.3.1.min.js')
        script(src='../js/portfolio.js')
        script(src='../js/common.js')
        link(rel='stylesheet', href='../bower_components/owl.carousel/dist/assets/owl.carousel.min.css')
        script(src='../bower_components/owl.carousel/dist/owl.carousel.min.js')

    body
        .banner
            .header
              .container
                .menu
                  a.navicon(href='#')
                  .toggle.effect-3
                    ul.toggle-menu
                      li
                        a.active(href='#')  Home
                      li
                        a(href='#')  About
                      li
                        a(href='#')  Skills
                      li
                        a(href='#') Experience
                      li
                        a(href='#') Education
                      li
                        a(href='#')  My Projects
                      li
                        a(href='#')  Contact Us
              .banner__social
                  a.banner__text__icon(href='#')
                      i.fab.fa-twitter
                  a.banner__text__icon(href='#')
                      i.fab.fa-facebook-f
                  a.banner__text__icon(href='#')
                      i.fab.fa-behance
                  a.banner__text__icon(href='#')
                      i.fab.fa-dribbble
                  a.banner__text__icon(href='#')
                      i.fab.fa-github
              .clearfix
            // //header
            // banner__text
            .banner__text
              .container
                .banner__text__main
                  h2
                    | AKYLAI
                    span Front-end developer
                  p.banner__text__desc
                    |My goal is to go for an internship, working on
                    br
                    |interesting projects and self-development.
        .clearfix
        .about
            .about__heading
                | ABOUT ME
                hr.hr_class
            .container
                .about__left.wow.bounceInLeft(data-wow-duration='2s')
                    .about__left__heading
                        |A LITTLE BRIEF ABOUT ME
                        hr.hr_class__aboutright
                    p.about__left__text
                        | Ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo tempor dignissim at. e vitae dicta sunt explicabo nemo enim ipsam voluptatem. ipsum dolor sit amet, consectetur adipisicing elit.
                    p.about__left__text
                        | sed do eiusmod temporincididunt ut labore et dolore magna aliqua. ab illo tempor dignissim at. e vitae dicta sunt explicabo nemo enim ipsam voluptatem.
                    .clearfix
                    .about__left__button
                        a.about__left__button__button1
                            i.fas.fa-cloud-download-alt
                        a.about__left__button__button2
                            |DOWNLOAD RESUME
                .about__right.wow.bounceInRight(data-wow-duration='2s')
                    .about__right__heading
                        | SKILLS
                        hr.hr_class__aboutright
                    .skillbar(data-percent='98')
                        span.skillbar-title(style='background:#05c46b;') HTML5 & CSS3
                        p.skillbar-bar(style='background: #0be881;')
                        span.skill-bar-percent
                    .skillbar(data-percent='80')
                        span.skillbar-title(style='background:#0396d8;') Javascript
                        p.skillbar-bar(style='background:#03A9F4;')
                        span.skill-bar-percent
                    .skillbar(data-percent='80')
                        span.skillbar-title(style='background:#9226a4;') jQuery
                        p.skillbar-bar(style='background:#b32eca;')
                        span.skill-bar-percent
                    .skillbar(data-percent='90')
                        span.skillbar-title(style='background:#028679;') Bootstrap
                        p.skillbar-bar(style='background: #009688;')
                        span.skill-bar-percent
                    .skillbar(data-percent='95')
                        span.skillbar-title(style='background:#ffae00;') Adobe Photoshop
                        p.skillbar-bar(style='background: #ffd32a;')
                        span.skill-bar-percent
        .clearfix
        .skills(data-stellar-background-ratio='1')
            .container
                .skills__item.wow.fadeInUp(data-wow-duration='2s')
                    .skills__item__icon
                        i.fab.fa-angellist.fa-2x
                    .skills__item__heading PIEXEL PERFECT
                    .skills__item__desc Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                .skills__item.wow.fadeInUp(data-wow-duration='2s', data-wow-delay='0.5s')
                    .skills__item__icon
                        i.fas.fa-desktop.fa-2x
                    .skills__item__heading CLEAN DESIGN
                    .skills__item__desc Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                .skills__item.wow.fadeInUp(data-wow-duration='2s', data-wow-delay='1s')
                    .skills__item__icon
                        i.far.fa-paper-plane.fa-2x
                    .skills__item__heading SASS & PUG & CMS
                    .skills__item__desc Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has been the industry's standard dummy text
        .clearfix
        .workarea(data-stellar-ratio="2")
            .about__heading
                | MY WORKING AREA
                hr.hr_class

            .workarea__top
                .workarea__icons.workarea__icons__first
                    .skills__item__icon.skills__item__icon__workarea
                        i.far.fa-paper-plane.fa-2x
                    .workarea__title
                        |Обсуждение
                    .workarea__text
                        |Основа создаваемого приложения? Главные
                        |задачи сайта? Целевая аудитория? Какие
                        |результаты вы хотите получить с его помощью?
                        |Основная тематика? Ответы на эти и другие
                        |вопросы определяют то, каким будет наш продукт.
                .workarea__icons
                    .skills__item__icon.skills__item__icon__workarea
                        i.far.fa-paper-plane.fa-2x
                    .workarea__title
                        |Создание концепта
                    .workarea__text
                        |Где удобнее расположить элементы дизайна сайта?
                        |Как сделать, навигацию как можно проще и
                        |удобнее? Как достичь максимального юзабилити.
                        |Решение этих вопросов приводит к появлению
                        |нескольких вариантов дизайна.

                .workarea__icons
                    .skills__item__icon.skills__item__icon__workarea
                        i.far.fa-paper-plane.fa-2x
                    .workarea__title
                        | Разработка
                    .workarea__text
                        | Ух! Это самый отчаянный этап. На котором кодят,
                        | педалят, програмируют, пилят код, ругаются
                        | бывает… В итоге получаем красивый,
                        | кроссбраузерный, адаптивный, быстрый удобный
                        | сайт.
                .workarea__icons.workarea__icons__last
                    .skills__item__icon.skills__item__icon__workarea
                        i.far.fa-paper-plane.fa-2x
                    .workarea__title
                        |Довольный клиент
                    .workarea__text
                        |Остается только радоваться результату. Клиенту
                        |наполнять тематическим контентом ресурс для
                        |дальнейшего процветания и продвижения его
                        |бизнеса в сети.
                .workarea__border
                    .workarea__circle
                        .workarea__little
        .clearfix
        .items(data-stellar-background-ratio='1')
            .container
                .items__item.wow.zoomIn(data-wow-duration='2s')
                    .skills__item__icon.skills__item__icon_mod
                        i.fab.fa-github-alt.fa-2x
                    .items__text PLAN
                .items__item.wow.zoomIn(data-wow-duration='2s', data-wow-delay='0.5s')
                    .skills__item__icon.skills__item__icon_mod
                        i.fas.fa-cubes.fa-2x
                    .items__text IDEA
                .items__item.wow.zoomIn(data-wow-duration='2s', data-wow-delay='1s')
                    .skills__item__icon.skills__item__icon_mod
                        i.fas.fa-edit.fa-2x
                    .items__text SKETCH
                .items__item.wow.zoomIn(data-wow-duration='2s', data-wow-delay='1.5s')
                    .skills__item__icon.skills__item__icon_mod
                        i.fas.fa-desktop.fa-2x
                    .items__text DESIGN
                .items__item.wow.zoomIn(data-wow-duration='2s', data-wow-delay='2s')
                    .skills__item__icon.skills__item__icon_mod
                        i.fas.fa-check.fa-2x
                    .items__text LAUNCH
        .clearfix
        .work
            .about__heading.about__heading_work
                | MY PORTFOLIO
                .work__desc Lets check most recent project I've worked on
                hr.hr_class
            .container
                .toolbar.mb2.mt2
                    a.btn.fil-cat(href='#all', data-rel='all') ALL
                    a.btn.fil-cat(href='#websites', data-rel='web') Web
                    a.btn.fil-cat(href='#flyers', data-rel='flyers') Landing Page
                    a.btn.fil-cat(href='#cards', data-rel='bcards') E-commerce
                div(style='clear:both;')
                #portfolio
                    .tile.scale-anm.web.all.view-tenth
                        img(src='../img/item1.jpg')
                        .mask
                            h3 My projects
                            p My sample work you can see by clicking on the picture
                    .tile.scale-anm.bcards.all.view-tenth
                        img(src='../img/item2.jpg', alt='bc1')
                        .mask
                            h3 My projects
                            p My sample work you can see by clicking on the picture
                    .tile.scale-anm.web.all.view-tenth
                        img(src='../img/item3.jpg', alt='w2')
                        .mask
                            h3 My projects
                            p My sample work you can see by clicking on the picture
                    .tile.scale-anm.web.all.view-tenth
                        img(src='../img/item4.jpg', alt='w3')
                        .mask
                            h3 My projects
                            p My sample work you can see by clicking on the picture
                    .tile.scale-anm.flyers.all.view-tenth
                        img(src='../img/item5.jpg', alt='fl1')
                        .mask
                            h3 My projects
                            p My sample work you can see by clicking on the picture
                    .tile.scale-anm.bcards.all.view-tenth
                        img(src='../img/item6.jpg', alt='bc2')
                        .mask
                            h3 My projects
                            p My sample work you can see by clicking on the picture
                    .tile.scale-anm.flyers.all.view-tenth
                        img(src='../img/fl3.jpg', alt='fl2')
                        .mask
                            h3 My projects
                            p My sample work you can see by clicking on the picture
                    .tile.scale-anm.flyers.all.view-tenth
                        img(src='../img/w4.jpg', alt='fl3')
                        .mask
                            h3 My projects
                            p My sample work you can see by clicking on the picture
                    .tile.scale-anm.flyers.all.view-tenth
                        img(src='../img/fl4.jpg', alt='fl4')
                        .mask
                            h3 My projects
                            p My sample work you can see by clicking on the picture
                    .tile.scale-anm.bcards.all.view-tenth
                        img(src='../img/bc3.jpg', alt='bc3')
                        .mask
                            h3 My projects
                            p My sample work you can see by clicking on the picture
                    .tile.scale-anm.bcards.all.view-tenth
                        img(src='../img/bc4.jpg', alt='')
                        .mask
                            h3 My projects
                            p My sample work you can see by clicking on the picture
                    .tile.scale-anm.bcards.all.view-tenth
                        img(src='../img/bc5.jpg', alt='bc5')
                        .mask
                            h3 My projects
                            p My sample work you can see by clicking on the picture
                div(style='clear:both;')
                .spinner-wrap
                    .windows8
                        #wBall_1.wBall
                            .wInnerBall
                        #wBall_2.wBall
                            .wInnerBall
                        #wBall_3.wBall
                            .wInnerBall
                        #wBall_4.wBall
                            .wInnerBall
                        #wBall_5.wBall
                            .wInnerBall
                .work__bottom Interested in more details? find me on Behance, Dribble
                .work__button
                    .work__button_1.work__btn
                        i.fab.fa-behance.fa-2x
                        .work__button__text  Behance
                    .work__button_2.work__btn
                        i.fab.fa-dribbble.fa-2x
                        .work__button__text Dribble
        .clearfix
        .items.statistics(data-stellar-background-ratio='1')
            .container
                .items__item.items__item__stat.wow.fadeInLeft(data-wow-duration='2s')
                    .skills__item__icon.skills__item__icon__statmod
                        i.fas.fa-check.fa-2x
                    .items__text.statistics__item.counter
                        .span.statistics__item__span
                            span 450
                            br
                            br
                            |PROJECT COMPLETE
                .items__item.items__item__stat.wow.fadeInUp(data-wow-duration='2s')
                    .skills__item__icon.skills__item__icon__statmod
                        i.far.fa-check-square.fa-2x
                    .items__text.statistics__item.counter
                        .span.statistics__item__span
                            span 800
                            br
                            br
                            |HAPPY CLIENTS
                .items__item.items__item__stat.wow.fadeInUp(data-wow-duration='2s')
                    .skills__item__icon.skills__item__icon__statmod
                        i.fas.fa-coffee.fa-2x
                    .items__text.tatistics__item.counter
                        .span.statistics__item__span
                            span 950
                            br
                            br
                            |CUPS OF COFFEE
                .items__item.items__item__stat.wow.fadeInRight(data-wow-duration='2s')
                    .skills__item__icon.skills__item__icon__statmod
                        i.far.fa-clock.fa-2x
                    .items__text.tatistics__item.counter
                        .span.statistics__item__span
                            span 650
                            br
                            br
                            |HOURS OF WORK
        .clearfix
        .feedback
            .container
                .feedback__heading
                    |CLIENTS FEEDBACK
                    hr.hr_class
                .owl-carousel.owl-theme.clearfix
                    .feedback__items
                        .feedback__items_img
                            img(src='../img/otziv1.png')
                        .feedback__items_desc "Marcus is a full time Internet Marketing Analyst and Strategist. Her brain is an ocean of ideas and creativeness, and she loves expressing and sharing those ideas on her writings and artworks. Good service provider."
                        .feedback__items_text
                            | Raihind krowt
                            br
                            |  C.E.O,  Highown Tech. Ltd
                    .feedback__items
                        .feedback__items_img
                            img(src='../img/otziv2.png')
                        .feedback__items_desc "Marcus is a full time Internet Marketing Analyst and Strategist. Her brain is an ocean of ideas and creativeness, and she loves expressing and sharing those ideas on her writings and artworks. Good service provider."
                        .feedback__items_text
                            | Raihind krowt
                            br
                            |  C.E.O,  Highown Tech. Ltd
                    .feedback__items
                        .feedback__items_img
                            img(src='../img/otziv3.png')
                        .feedback__items_desc "Marcus is a full time Internet Marketing Analyst and Strategist. Her brain is an ocean of ideas and creativeness, and she loves expressing and sharing those ideas on her writings and artworks. Good service provider."
                        .feedback__items_text
                            | Raihind krowt
                            br
                            |  C.E.O,  Highown Tech. Ltd
                    .feedback__items
                        .feedback__items_img
                            img(src='../img/otziv4.png')
                        .feedback__items_desc "Marcus is a full time Internet Marketing Analyst and Strategist. Her brain is an ocean of ideas and creativeness, and she loves expressing and sharing those ideas on her writings and artworks. Good service provider."
                        .feedback__items_text
                            | Raihind krowt
                            br
                            |  C.E.O,  Highown Tech. Ltd
        .clearfix
        .touch
            .touch__fon
                .container
                    .touch__out
                        .touch__title
                            | GET IN TOUCH
                        .touch__line
                        .touch__form
                            form(action="#" method="GET" enctype="multipart/form-data")
                                .touch__one.wow.bounceInLeft(data-wow-duration='2s')
                                    .touch__item
                                        a(href="#" class="touch__link")
                                            i(class="fa fa-home")
                                        input(class='touch__input' type='text' placeholder='First name' required)
                                    .touch__item
                                        a(href="#" class="touch__link")
                                            i(class="fa fa-envelope")
                                        input(class='touch__input' type='text' placeholder='Your email' required)
                                    .touch__item
                                        a(href="#" class="touch__link")
                                            i(class="fa fa-home")
                                        input(class='touch__input' type='text' placeholder='Your website' required)
                                .touch__two.wow.bounceInRight(data-wow-duration='2s')
                                    textarea(cols="35" rows="6" class="touch__input__area" placeholder="Your message" required)
                                    input(class='touch__href' type='submit' value='SEND')
        .clearfix
        .footer
            .container
                p.footer__p
                    | © 2018 Trendy CV. All rights reserved | Design by Akylai Osonova
        script.
            $('.owl-carousel').owlCarousel({
                items: 1,
                margin: 10,
                loop: true,
                nav: true,
                autoplay: true,
                navText: ['&#60', '&#62'],
                // autoplayTimeout: 1000,
                smartSpeed: 2000,
                responsive: {
                    600: {
                        items: 2
                    }
                }
                // autoWidth: true,
            })
        //menu js
        script.
          $('.navicon').on('click', function (e) {
          e.preventDefault();
          $(this).toggleClass('navicon--active');
          $('.toggle').toggleClass('toggle--active');
          });
        // //menu-js
        //
          Bootstrap core JavaScript
          ==================================================
        // Placed at the end of the document so the pages load faster
        script(src='../js/bootstrap.js')
        // Skill Bar js
        script(src='../js/skill.bars.jquery.js')
        script.
            $(document).ready(function(){
            $('.skillbar').skillBars({
            from: 0,
            speed: 4000,
            interval: 100,
            decimals: 0
            });
            });
            // //End Skill Bar js
        script(src='../bower_components/jquery.stellar/jquery.stellar.min.js')
        script(src='../js/counter.js')
        script(src='../js/lightgallery.js')

